html {
height: 100%; 
background: yellow; 
background: linear-gradient(orange, red); 
background-attachment: fixed;
} 

body {
margin: 0px 0px 0px 0px;
}


header {
min-height: 50px;
min-width: 300px;
margin: 0% 20% 0% 20%;
border-radius: 0px 0px 50px 50px;
background-color: rgba(0,0,0,0.3); 
color: black;
text-align: center; 
overflow-y: auto; 
}


/*----- Sidebar -----*/
#Sidebar {
width: 15%;
margin: 5% 0% 5% 0%;
padding: 50px 0px 50px 0px;
border-radius: 0px 50px 50px 0px; 
background-color: rgba(0,0,0,0.3); 
color: black; 
float: left; 
position: fixed; 
}
                                                                  
#Sidemenu {
padding: 0% 10% 0% 10%; 
list-style-type: none; 
}

.sideButton {
padding: 5px 5px 5px 5px; 
border-style: solid; 
border-color: black;
text-align: center; 
display: block; 
transition: background-color 1000ms ease-out;
}

.sideButton:hover { 
background-color: grey; 
}

.sideButton:active { 
background-color: white; 
} 


/*----- ContentBox -----*/ 
.contenttext { 
text-align: right; 
}  

.contentTransition {
overflow: hidden;
width: 0px;
right: 0;
padding: 50px 0px 50px 0px;
border-radius: 50px 0px 0px 50px;   
background-color: rgba(0,0,0,0.0);
color: rgba(0,0,0,0.0); 
text-align: center;
position: absolute;  
transition: all 1000ms ease-in-out;
}

.contentTransition:target {
width: 80%;
margin: 5% 0% 5% 0%;
background-color: rgba(0,0,0,0.3); 
color: rgba(0,0,0,1);
}


/*----- Tables -----*/
.sortable {
width: 90%;
margin: 0% 5% 0% 5%;
padding: 5px;
border-collapse: collapse;
color: black;
text-align: center;
position: absolute;  
}

th {
width: 25%; 
border: solid; 
background-color: rgba(255,255,255,0.3); 
}

tr { 
transition: background-color 200ms ease-in-out; 
}

tr:hover { 
background-color: rgba(255,255,255,0.5); 
}

td {
border: solid;
border-width: 2px;  
}

.tableButtonGreen {
background-color: #4CAF50; /* Green */
color: white;
text-align: center;
}

.tableButtonRed {
background-color: #f44336; /* Green */
color: white;
text-align: center;
}

#taskFormular {
margin: 0% 0% 30px 5%;
}

#taskRefresh {
margin: 0% 0% 10px 10px;
}

